.project{
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  padding: 50px 0px 50px 0px;
  border-top: 1px solid rgb(201, 201, 201);
  cursor: pointer;
  transition: all 0.2s;

  h2{
    font-size: 60px;
    margin: 0px;
    font-weight: 400;
    transition: all 0.4s;
    font-family: var(--font-formula-condensed-bold), sans-serif;
    letter-spacing: 2px;
  }

  p{
    font-size: 1rem;
    transition: all 0.4s;
    font-weight: 300;
  }

  &:last-of-type{
    border-bottom: 1px solid rgb(201, 201, 201);
  }

  &:hover{
    color: #4095bf;

    h2{
      transform: translateX(-10px);
    }

    p{
      transform: translateX(10px);
    }
  }
}

@media(max-width: 1024px) {
  .project {
    &:last-of-type{
      border-bottom: 0px solid rgb(201, 201, 201);
    }
  }

}

@media(max-width: 640px) {
  .project {
    padding: 40px 0px 40px 0px;
    h2 {
      font-size: 2rem;
    }
  }
}